VITE_API_URL=http://localhost:3001
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
VITE_MAP_ADDRESS=Roszkowice 57, 46-220 Roszkowice
VITE_MAP_LAT=50.3636
VITE_MAP_LNG=18.4236
VITE_MAP_ZOOM=15
VITE_FORMSPREE_ENDPOINT=https://formspree.io/
