.contact-info {
	text-align: center;
	float: left;
	width: 100%;
}
.contact-info .col-md-4 + .col-md-4 {
	border-left: 1px dotted var(--color-border-dotted);
}
.contact-info .col-md-4 > i { 
	width: 65px;
	height: 65px;
	border: 2px solid var(--color-accent);
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	line-height: 61px;
}
.contact-info .col-md-4 > h3 { 
	letter-spacing: 1.26px;
	font-family: var(--font-heading);
	font-size: 18px;
	font-weight: 600;
	color: var(--color-text-dark);
	text-transform: uppercase;
	margin-bottom: 20px;
}
.contact-info .col-md-4 > p,
.contact-info .col-md-4 > p > a {
	color: var(--color-text-placeholder);
}
.contact-form {
	float: left;
	width: 100%;
	margin-top: 90px;
	text-align: center;
}
.contact-form h3 {
	font-family: var(--font-heading);
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: var(--color-text-dark);
}
.contact-form p {
	text-transform: uppercase;
	letter-spacing: 2.6px;
	color: var(--color-text-placeholder);
}
.contact-form form {
	margin-top: 40px;
}
.contact-form .form-control {
	height: 40px;
	border: 1px solid var(--color-border-input);
	color: var(--color-text-input);
	border-radius: 0;
	font-size: 11px;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	box-shadow: none;
	outline: none;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 0.77px;
}
.contact-form .form-control:last-child {
	margin-bottom: 0;
}
.contact-form textarea.form-control {
	height: 180px;
	margin-bottom: 30px;
}
.contact-form button {
	width: 100%;
	background-color: var(--color-accent);
	border-radius: 0;
	outline: none;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	box-shadow: none;	
	border: none;
	color: var(--color-white);
	text-transform: uppercase;
	font-family: var(--font-heading);
	font-weight: bold;
	font-size: 12px;
	padding: 11px;
}
.contact-form button:hover {
	background-color: var(--color-black);
}
.contact-form .form-control::-webkit-input-placeholder {
	color: var(--color-text-placeholder-light);
	text-transform: uppercase;
}
.contact-form .form-control:-moz-placeholder {
	color: #d0d0d0;
	text-transform: uppercase;
}
.contact-form .form-control::-moz-placeholder {
	color: #d0d0d0;
	text-transform: uppercase;
}
.contact-form .form-control:-ms-input-placeholder {  
	color: var(--color-text-placeholder-light);
	text-transform: uppercase;
}
.alert-msg {
	color: var(--color-text-alert);
	width: 100%;
	margin: 10px 15px;
	text-align: left;
	display: inline-block;
	z-index: 1;
}
.alert-msg-success {
	color: var(--color-success);
}
.alert-msg-failure {
	color: var(--color-error);
}
.map-section .map-canvas {
	width: 100%;
	height: 650px;
}
