.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--layout-space-10) 0;
}

.loading-spinner .loader {
  position: relative;
}

.loading-spinner .ball-clip-rotate > div {
  border-color: var(--color-accent) var(--color-accent) transparent;
  background-color: var(--color-accent);
  margin: 0 auto;
  display: block;
}
