.welcome-section .container {
  position: relative;
}
.welcome-section {
  padding-top: 86px;
  padding-bottom: 150px;
}
.welcome-section__layout {
  padding-bottom: 20px;
}
.welcome-section .content-block {
  padding-right: 50px;
}
.welcome-section .content-block p {
  color: var(--color-text-dark);
  line-height: 1.7;
  letter-spacing: 0.28px;
  margin-bottom: 30px;
}
.welcome-section .img-block {
  text-align: right;
}
.welcome-section .img-block i {
  position: relative;
}
.welcome-section .img-block i::after {
  border: 2px solid var(--color-border-welcome);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -20px;
  top: 20px;
  display: inline-block;
  z-index: -1;
}
.welcome-section2 {
  padding-bottom: 60px;
  padding-top: 60px;
}
.welcome-section2 .img-block {
  text-align: center;
}
.welcome-section2 .img-block i {
  padding-left: 55px;
  padding-right: 55px;
  position: relative;
  display: inline-block;
}
.welcome-section2 .img-block i::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 85px;
  bottom: 35px;
  display: inline-block;
  border: 8px solid var(--color-border-welcome-light);
  z-index: -1;
}
.welcome-section2 .content-block {
  text-align: center;
  padding-top: 85px;
}
.welcome-section2 .content-block p {
  color: var(--color-text-placeholder);
  line-height: var(--text-body-line-height);
  letter-spacing: 0.28px;
  margin-bottom: 30px;
}
